.container
  position: relative
  margin: 10px 0 0 10px;

.button
  display: inline-flex;
  cursor: pointer;
  color: #5581f2;
  border: solid #5581f2 1px;
  font-size: 12px;
  padding: 0 20px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
